
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-sound:before { content: '\e802'; } /* '' */
.icon-megaphone:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
