html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container{
    margin: 0 auto;
    height: auto;
    aspect-ratio: 1/1;
    width: 80%;
}

.propagation-boxes{
    background-color: white;
    width: 24rem;
    aspect-ratio: 1/1;
    margin: 5rem auto 3rem auto;
    position: relative;
}

.box{
    position: absolute;
    font-size: 3rem;
    text-align: center;
    border: 2px solid black;
}

.box-color-red{
    z-index: 2;
    background-color: red;
    width: 75%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
}


.box-color-gray{
    z-index: 1;
    background-color: #cacaca;
    width: 100%;
    aspect-ratio: 1/1;
    -webkit-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
}

.box-color-yellow{
    z-index: 3;
    background-color: yellow;
    width: 50%;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
    box-shadow: 21px 18px 33px -16px rgba(0, 0, 0, 1);
}

.menu{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.6rem;
}

.btn{
    font-size: inherit;
    padding: 1rem;
}

.score-info{
    border: 1px solid black;
    display: flex;
    width: 40%;
    margin: 2rem auto;
    font-size: 2rem;
    justify-content: space-evenly;
    padding: 1.5rem;
    text-align: center;
}

.messages{
    background-color: white;
    width: 80%;
    padding: 1rem;

}

.score{
    width: 20%;
    border: 1px solid black;
    padding: 1rem;
}

.message-wrapper{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 10rem;
    border: 1px black solid;
}

.initial-list{
    list-style: none;
    padding: 1rem;
}

.propagation-message{
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.disabled{
    background-color: green;
}

.box-span{
    font-size: 1.5rem;
    position: absolute;
    top: 4%;
}

